---

---

<section aria-label="New-photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev"
      >&#8656;</button
    >
    <button class="carousel-button next" data-carousel-button="next"
      >&#8658;</button
    >

    <ul data-slides>
      <li class="slide" data-active>
        <img src="/Grupo9/images/index-imagen1.webp" alt="#1" />
      </li>
      <li class="slide">
        <img src="/Grupo9/images/index-imagen2.webp" alt="#2" />
      </li>
      <li class="slide">
        <img src="/Grupo9/images/index-imagen3.webp" alt="#3" />
      </li>
    </ul>
  </div>
</section>
<script src="/Grupo9/scripts/carousel.js" defer></script>

<style>
  * {
    /* outline: 1px solid yellow; */
  }
  .carousel {
    height: 400px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
  }
  .slide[data-active] {
    opacity: 1;
  }
  .carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    color: rgb(255, 255, 255, 0.5);
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .carousel-button:focus {
    outline: 1px solid black;
  }
  .carousel-button.prev {
    left: 1rem;
  }
  .carousel-button.next {
    right: 1rem;
  }
</style>
